.outer-container{
    background-color: red;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inner-container{
    background-color: green;
    border: 1px solid black;
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.item{
    background-color: white;
    border: 1px solid black;
    width: 50px;
    height: 30px;
}