body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.hero-section {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("walper.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
}

.hero-text {
  font-size: 48px;
  margin: 0;
  opacity: 0;
  animation: fadeInText 1.5s ease-in-out forwards;
}

.hero-subtext {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
  animation: fadeInText 2s ease-in-out forwards; 
  animation-delay: 0.5s;
}

.hero-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  animation: fadeInText 2s ease-in-out forwards,
    buttonBounce 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

/* Keyframes for Text Fade-In */
@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes for Button Bounce */
@keyframes buttonBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero-button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
